
.title2 {
  position: absolute;
  left: 220px;
  top: 165px;
  font-size: 20px;
  font-weight: 500;
}

.details11 {
  position: absolute;
  left: 250px;
  top: 240px;
  gap: 20px;
}

.viewBtn {
  background-color: #00a68b;
  border: none;
  padding: 2px 10px;
  color: white;
  cursor: pointer;
}

.fr, .sr {
  display: flex;
  flex-direction: row;
  gap: 50px;
}


@media (max-width: 768px) {

  .title2 {
    position: static;
    font-size: 18px;
    margin: 14px 20px 8px 20px;
  }

  .details11 {
    position: static;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .fr, .sr {
    flex-direction: column;
    gap: 8px;
  }

  .viewBtn {
    width: fit-content;
    align-self: flex-start;
  }
}



@media (max-width: 320px) {


  .title2 {
    position: static;
    font-size: 16px;
    margin: 80px 20px 8px 20px;
  }

  .details11 {
    position: static;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .fr, .sr {
    flex-direction: column;
    gap: 8px;
  }

  .viewBtn {
    width: fit-content;
    align-self: flex-start;
  }
}
